@import 'less/normalize.lessimport';
@import 'less/lesshat.lessimport';

// Links
@linkColor:         #f06529;
@linkColorHover:    darken(@linkColor, 10);

* { 
    .box-sizing(border-box);
}

body {
    .gradient(~"linear-gradient(90deg, #282828 0%, #a3a3a3 60%)");
}

header {
    .gradient(~"linear-gradient(0deg, #3f3f45 0%, #2d2d31 90%)");
    height: 46px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1;

    img {
        margin: 10px 0;
    }
}

.wrapper {
    padding: 46px 0 0 0;
}

.channels-container {
    position: absolute;

    .channel {
        .border-radius(0 6px 6px 0);
        .box-shadow(~"2px 0px 2px rgba(0,0,0,.6), inset 1px 0px 3px rgba(255,255,255,.25)");
        .gradient(~"linear-gradient(90deg, #49bef0 0%, #146696 100%)");
        height: 123px;
        margin: 3px 0 6px;
        overflow: hidden;
        
        img {
            margin: -16% 0;
        }
    }
}

.broadcasts-container {
    margin: 0 0 0 110px;

    .channelbc {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
    }

    .channel-broadcasts {
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        width: 4060px;

        .broadcast {
            .background-clip(padding-box);
            .gradient(~"linear-gradient(180deg, #ffffff 0%, #cccccc 100%)");
            .box-shadow(~"0px 1px 1px -1px rgba(0,0,0,.5)");
            border: 1px solid rgba(0, 0, 0, .3);
            float: left;
            height: 117px;
            margin: 6px;
            width: 800px;

            img {
                float: left;
            }
            .broadcast-info {
                font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
                float: left;
                height: 115px;
                overflow: hidden;
                padding: 6px;

                h4 {
                    font-size: 24px;
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 496px;
                }
                p {
                    font-size: 18px;
                    margin: 0;
                    .opacity(0.5);
                }
                .rating {
                    background: url('../star.png') repeat-x left bottom;
                    height: 22px;
                    margin: 6px 0;
                    overflow: hidden;
                    width: 140px;
                }
                .fill {
                    background: url('../star.png') repeat-x left top;
                    height: 22px;
                }
                .star-0 {
                    width: 0;
                }
                .star-1 {
                    width: 28px
                }
                .star-2 {
                    width: 56px;
                }
                .star-3 {
                    width: 84px;
                }
                .star-4 {
                    width: 112px;
                }
                .star-5 {
                    width: 140px;
                }
            }
            .popularity {
                .border-radius(5px);
                background: rgba(0, 0, 0, 0.35);
                border: 1px solid rgba(0,0,0,.7);
                float: right;
                height: 103px;
                margin: 6px;
                position: relative;
                width: 10px;

                .fill {
                    .border-radius(4px);
                    .box-shadow(~"inset 0px 0px 3px rgba(255,255,255,.75)");
                    .gradient(~"linear-gradient(180deg, #49bef0 0%, #146696 100%)");
                    bottom: 0;
                    height: 50px;
                    position: absolute;
                    width: 8px;
                }
            }
            .watchers {
                float: right;
                padding: 6px;
                width: 114px;

                img {
                    .border-radius(9px);
                    .box-shadow(~"inset 0px 0px 3px rgba(0,0,0,.75)");
                    float: right;
                    margin: 1px;
                }
            }
        }
    }
}
