<head>
  <title>tunnedin</title>
</head>

<body>
  {{>header}}
  <div class="wrapper">
    {{>channels}}
    {{>broadcasts}}
  </div>
</body>

<template name="header">
  <header>
    <img src="logo_blue_white.png" alt="tunedin">
  </header>
</template>

<template name="channels">
  <div class="channels-container">
    {{#each channels}}
    <div id="channel-{{id}}" class="channel">
      <img src="{{img.icons.w110}}" />
    </div>
    {{/each}}
  </div>
</template>

<template name="broadcasts">
  <div class="broadcasts-container">
    {{#each channels}}
    <div class="channelbc">
      <ul id="channelb-{{id}}" class="channel-broadcasts">
        {{#each broadcasts _id}}
          {{>broadcast}}
        {{/each}}
      </ul>
    </div>
    {{/each}}
  </div>
</template>

<template name="broadcast">
  <li id="broadcast-{{broadcast.id}}" class="broadcast">
    <img src="{{images.backdrops.w154}}">
    <div class="broadcast-info">
      <h4>{{program.title}}</h4>
      <p>{{program.type}}</p>
      <div class="rating">
        <div class="fill star-{{program.rating}}"></div>
      </div>
      <p>{{timeFormat time.start}} - {{ timeFormat time.end}}</p>
    </div>
    <div class="watchers">
      <img src="http://placeskull.com/49/49/f49618/18" />
      <img src="http://placeskull.com/49/49/f49618/25" />
      <img src="http://placeskull.com/49/49/f49618/14" />
      <img src="http://placeskull.com/49/49/f49618/19" />
    </div>
    <div class="popularity"><div class="fill"></div></div>
  </li>
</template>
